<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Vender Ingresso - <%= @event.name %></h1>
    <%= link_to 'Voltar', bilheteria_event_tickets_path(@event), class: 'btn btn-outline-secondary' %>
  </div>

  <%= render 'form' %>
</div>
